In [1]:
def location(city, country, continent):
    print(f'{city} is in {country} which is in {continent}')
    
location('Mumbai', 'India', 'Asia')

Mumbai is in India which is in Asia

In [2]:
def location(city, country, continent):
    print(f'{city} is in {country} which is in {continent}')
    
location(continent='Asia', city='Mumbai', country='India')

Mumbai is in India which is in Asia

In [ ]:
lst = [1, -7,  13, 12]
lst.sort() # ascending order of elements
print(lst)

In [3]:
lst = [1, -7,  13, 12]
lst.sort() # ascending order of elements
print(lst)

[-7, 1, 12, 13]

In [ ]:
reverse, key
reverse = False
key = None

In [4]:
lst = [1, -7,  13, 12]
lst.sort(reverse = True) # ascending order of elements
print(lst)

[13, 12, 1, -7]

In [5]:
names = ['rocky', 'garuda', 'adheera', 'tina']
# ['adheera', 'garuda', 'rocky', 'tina']
names.sort() # reverse = False, key = fun
print(names)

['adheera', 'garuda', 'rocky', 'tina']

In [6]:
names = ['rocky', 'garuda', 'adheera', 'tina']
# ['tina', 'rocky', 'garuda', 'adheera']
names.sort(key = len) # reverse = False, key = fun
print(names)

['tina', 'rocky', 'garuda', 'adheera']

In [7]:
def location(city, country, continent='Asia'):
    # 2 positional arguments city, country --> must
    # 1 default argument
    print(f'{city} is in {country} which is in {continent}')
    
location('Mumbai', 'India')

Mumbai is in India which is in Asia

In [8]:
def location(city, country, continent='Asia'):
    # 2 positional arguments city, country --> must
    # 1 default argument
    print(f'{city} is in {country} which is in {continent}')
    
location('Shaghai', 'China')

Shaghai is in China which is in Asia

In [9]:
def location(city, country, continent='Asia'):
    # 2 positional arguments city, country --> must
    # 1 default argument
    print(f'{city} is in {country} which is in {continent}')
    
location('Berlin', 'Germany', 'Europe')

Berlin is in Germany which is in Asia

In [10]:
# After default parameters we cannot write positional parameters
def location(city, country='India', continent):
    # 2 positional arguments city, country --> must
    # 1 default argument
    print(f'{city} is in {country} which is in {continent}')
    
location('Berlin', 'Germany', 'Europe')

SyntaxError: non-default argument follows default argument (2950879462.py, line 2)

In [11]:
# After default parameters we cannot write positional parameters
def location(city='Mumbai', country='India', continent):
    # 2 positional arguments city, country --> must
    # 1 default argument
    print(f'{city} is in {country} which is in {continent}')
    
location('Berlin', 'Germany', 'Europe')

SyntaxError: non-default argument follows default argument (2497909682.py, line 2)

In [12]:
# After default parameters we cannot write positional parameters
def location(city='Mumbai', country, continent):
    # 2 positional arguments city, country --> must
    # 1 default argument
    print(f'{city} is in {country} which is in {continent}')
    
location('Berlin', 'Germany', 'Europe')

SyntaxError: non-default argument follows default argument (613751054.py, line 2)

In [16]:
# After default parameters we cannot write positional parameters
def location(city='Mumbai', country='India', continent='Asia'):
    # 3 default arguments
    print(f'{city} is in {country} which is in {continent}')
    
location() # without arguments
location('Hyderabad') # 1 argument
location('Karachi', 'Pakistan') # 2 arguments
location('Nairobi', 'Kenya', 'Africa')

Mumbai is in India which is in Asia
Hyderabad is in India which is in Asia
Karachi is in Pakistan which is in Asia
Nairobi is in Kenya which is in Africa

# Doc Strings in functions

In [18]:
print(sum.__doc__)

Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.

In [20]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [21]:
def add(a, b):
    """
    Accepts two integers a and b
    Returns a + b
    """
    return a + b

print(add(10, 20))

30

In [22]:
print(add.__doc__)

    Accepts two integers a and b
    Returns a + b

In [23]:
help(add)

Help on function add in module __main__:

add(a, b)
    Accepts two integers a and b
    Returns a + b

In [24]:
print(10, 20, 30, 40) # ends with a new line
print('Hello')

10 20 30 40
Hello

In [25]:
print(10, 20, 30, 40, ',', 'pavan') # ends with a new line
print('Hello')

10,20,30,40pavanHello

In [26]:
# After default parameters we cannot write positional parameters
def location(city, country, continent='Asia'):
    # 2 positional arguments city, country --> must
    # 1 default argument
    print(f'{city} is in {country} which is in {continent}')
    
location('Tokyo', 'Japan', 'South America')

Tokyo is in Japan which is in South America

In [27]:
# After default parameters we cannot write positional parameters
def location(city, country, continent='Asia'):
    # 2 positional arguments city, country --> must
    # 1 default argument
    print(f'{city} is in {country} which is in {continent}')
    
location('Tokyo', 'Japan', 'South America')

Tokyo is in Japan which is in South America

In [28]:
max(1, 2)

2

In [29]:
def my_max(a, b):
    return a if a > b else b

my_max(1, 2)

2

In [30]:
max(1, 2, 3)

3

In [31]:
my_max(1, 2, 3)

TypeError: my_max() takes 2 positional arguments but 3 were given

In [32]:
max(1, 2, 3, 4)

4

# The creation of a function which takes arbitrary number of arguments

In [41]:
def Sum(*A):
    s = 0
    for i in A:
        s += i
    return s
    
Sum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Sum(1, 2, 3, 4, 5, 6, 7, 8, 9)
Sum(1, 2, 3, 4, 5, 6, 7, 8)

36

In [33]:
a, b = 10, 20
print(a, b)

10 20

In [34]:
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [36]:
a = 10, 20, 30
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [43]:
def Sum(*A, s=0):
    for i in A:
        s += i
    return s
    
print(Sum(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, s=100))
print(Sum(1, 2, 3, 4, 5, 6, 7, 8, 9))
print(Sum(1, 2, 3, 4, 5, 6, 7, 8))

155
45
36

In [45]:
print(10, 20, 30, sep=',')

10,20,30

In [48]:
sum([10, 20, 30], 10)

70

In [49]:
# Create a function which takes no arguments but returns something
def get_i():
    return int(input())

def get_f():
    return float(input())
    
def get_s():
    return str(input())


a = get_i()
b = get_i()
c = get_i()
print(a + b + c)

10
20
30
60

In [52]:
def arithmetic_operations(a, b):
    return (a + b, a - b, a * b, a // b)

res = arithmetic_operations(10, 3)
print(res)
print(type(res))

(13, 7, 30, 3)
<class 'tuple'>

In [53]:
# Generic read() function
def read(datatype, single=0):
    if single == 0:
        return map(datatype, input().split())
    else:
        return datatype(input()) # int(input())
    
n = read(int, 1)
print(n * n)

5
25

In [ ]:
# int --> int(input())
# float --> float(input())
# str --> str(input())

# map(int, input().split())
# map(float, input().split())
# map(str, input().split())

In [54]:
# Generic read() function
def read(datatype, single=0):
    if single == 0:
        return map(datatype, input().split())
    else:
        return datatype(input()) # int(input())
    
a, b, c = read(int)
print(a + b + c)

10 20 30
60

In [55]:
# Generic read() function
def read(datatype, single=0):
    if single == 0:
        return map(datatype, input().split())
    else:
        return datatype(input()) # int(input())
    
lst = list(read(int))
print(sum(lst))

1 2 3 4
10

In [56]:
def add(a = 10, b, c):
    print(a + b + c)

add(10, 20, 30)

SyntaxError: non-default argument follows default argument (3712936053.py, line 1)

In [57]:
def add(a, b, c):
    print(a + b + c)

add(a, c = 10, b)

SyntaxError: positional argument follows keyword argument (1266895947.py, line 4)